@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --primary-color: #e8dbb1;
  --secondary-color: #d8ad58;
  --tertiary-color: #a64f51;
  --bg-color:#ffffff;
}